<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.elevator.dao.user.UserMapper">
<!-- 根据用户返回整个用户对象 -->
	<select id="login" resultType="User">
		select  u.id,u.userRole,u.companyId,u.deleted,u.realName,u.tel,u.userName,u.wenXin,
		u.password,u.buildingID,u.elevatorID,u.creater,u.createDate,u.updater,u.updatDate, 
		(select d.valueName  from dictionary d where d.typeCode="user_role" and d.valueId=u.userRole) as userRoleName
		from user u where userName = #{userName}
	</select>
	
	
	<resultMap type="User" id="getElevatorByUserRole">
		<id property="id" column="id"/>
		
		<result property="userRole" column="userRole"/>
		<result property="companyId" column="companyId"/>
		<result property="realName" column="realName"/>
		<result property="tel" column="tel"/>
		<result property="userName" column="userName"/>
		<result property="wenXin" column="wenXin"/>
		<result property="buildingID" column="buildingID"/>
		<result property="elevatorID" column="elevatorID"/>
		
		<collection property="elevatorList" ofType="ElevatorInfo">
			<id property="id" column="e_id"></id>
			<result property="buildingId" column="buildingId"/>
			<result property="elevatorModel" column="elevatorModel"/>
			<result property="elevatorNumber" column="elevatorNumber"/>
			<result property="internalNumber" column="internalNumber"/>
			<result property="elevatorType" column="elevatorType"/>
			<result property="usingState" column="usingState"/>
			<result property="firstMaintenance" column="firstMaintenance"/>
			<result property="maintenanceId" column="maintenanceId"/>
			<result property="maintenancePersonId" column="maintenancePersonId"/>
			<result property="elevatorCode" column="elevatorCode"/>
			<result property="registrationCode" column="registrationCode"/>
			<result property="factoryNumber" column="factoryNumber"/>
			<result property="usingNumber" column="usingNumber"/>
			<result property="registrationStatus" column="registrationStatus"/>
			<result property="proactivelyDate" column="proactivelyDate"/>
			<result property="projectId" column="projectId"/>
			<result property="buildingName" column="companyName"/>
			<result property="elevatorTyepName" column="valueName"/>
			<result property="usingStateName" column="valueName1"/>
			
		</collection>
	
	</resultMap>
	
	
	
	<select id="getElevatorInfoList" resultMap="getElevatorByUserRole" >
		<!-- 0 质监局-->
		<if test="userRole==0">
			SELECT e.id AS e_id, e.buildingId,e.elevatorModel,e.elevatorNumber,e.internalNumber,e.elevatorType,
		e.usingState,e.firstMaintenance,e.maintenanceId,e.maintenancePersonId,e.elevatorCode,e.registrationCode,
		e.factoryNumber,e.usingNumber,e.registrationStatus,e.proactivelyDate,e.creater,e.createDate,e.updater,e.updatDate,e.projectId,
		(SELECT companyName FROM building WHERE id=e.buildingId) AS companyName,
		(SELECT d.valueName FROM dictionary d WHERE d.typeCode='elevatorType'AND d.valueId=e.elevatorType)AS valueName
		,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='usingState' AND d.valueId=e.usingState)AS valueName1
		
		
		 FROM USER u,elevatorinfo e WHERE userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		<!-- 1 楼盘用户 -->
		<if test="userRole==1">
		SELECT e.id AS e_id, e.buildingId,e.elevatorModel,e.elevatorNumber,e.internalNumber,e.elevatorType,
		e.usingState,e.firstMaintenance,e.maintenanceId,e.maintenancePersonId,e.elevatorCode,e.registrationCode,
		e.factoryNumber,e.usingNumber,e.registrationStatus,e.proactivelyDate,e.creater,e.createDate,e.updater,e.updatDate,e.projectId,
		(SELECT companyName FROM building WHERE id=e.buildingId) AS companyName,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='elevatorType'AND d.valueId=e.elevatorType)AS valueName
		,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='usingState' AND d.valueId=e.usingState)AS valueName1
		
		  FROM USER u,elevatorinfo e  WHERE u.companyId=e.buildingId AND u.userRole=#{userRole} AND u.id=#{id}
		</if>
		
		
		
		<!-- 2 物业管理员 -->
		<if test="userRole==2">
		SELECT e.id AS e_id, e.buildingId,e.elevatorModel,e.elevatorNumber,e.internalNumber,e.elevatorType,
		e.usingState,e.firstMaintenance,e.maintenanceId,e.maintenancePersonId,e.elevatorCode,e.registrationCode,
		e.factoryNumber,e.usingNumber,e.registrationStatus,e.proactivelyDate,e.creater,e.createDate,e.updater,e.updatDate,e.projectId,
		(SELECT companyName FROM building WHERE id=e.buildingId) AS companyName,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='elevatorType'AND d.valueId=e.elevatorType)AS valueName
		,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='usingState' AND d.valueId=e.usingState)AS valueName1
		FROM USER u,elevatorinfo e WHERE 
		e.buildingId IN (SELECT company_Jid FROM contract WHERE contractType=2 AND company_Yid=u.companyId) AND userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		
		<!-- 3 物业普通员工 -->
		<if test="userRole==3">
		SELECT e.id AS e_id, e.buildingId,e.elevatorModel,e.elevatorNumber,e.internalNumber,e.elevatorType,
		e.usingState,e.firstMaintenance,e.maintenanceId,e.maintenancePersonId,e.elevatorCode,e.registrationCode,
		e.factoryNumber,e.usingNumber,e.registrationStatus,e.proactivelyDate,e.creater,e.createDate,e.updater,e.updatDate,e.projectId,
		(SELECT companyName FROM building WHERE id=e.buildingId) AS companyName,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='elevatorType'AND d.valueId=e.elevatorType)AS valueName
		,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='usingState' AND d.valueId=e.usingState)AS valueName1 
		FROM USER u,elevatorinfo e WHERE 
		e.buildingId=u.buildingId AND u.userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		<!-- 4 维保管理员 -->
		<if test="userRole==4">
	SELECT e.id AS e_id, e.buildingId,e.elevatorModel,e.elevatorNumber,e.internalNumber,e.elevatorType,
		e.usingState,e.firstMaintenance,e.maintenanceId,e.maintenancePersonId,e.elevatorCode,e.registrationCode,
		e.factoryNumber,e.usingNumber,e.registrationStatus,e.proactivelyDate,e.creater,e.createDate,e.updater,e.updatDate,e.projectId,
		(SELECT companyName FROM building WHERE id=e.buildingId) AS companyName,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='elevatorType'AND d.valueId=e.elevatorType)AS valueName
		,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='usingState' AND d.valueId=e.usingState)AS valueName1
		FROM USER u,elevatorinfo e WHERE 
		 u.companyId=e.maintenanceId AND u.userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		<!-- 5 维保普通员工 -->
		<if test="userRole==5">
	SELECT e.id AS e_id, e.buildingId,e.elevatorModel,e.elevatorNumber,e.internalNumber,e.elevatorType,
		e.usingState,e.firstMaintenance,e.maintenanceId,e.maintenancePersonId,e.elevatorCode,e.registrationCode,
		e.factoryNumber,e.usingNumber,e.registrationStatus,e.proactivelyDate,e.creater,e.createDate,e.updater,e.updatDate,e.projectId,
		(SELECT companyName FROM building WHERE id=e.buildingId) AS companyName,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='elevatorType'AND d.valueId=e.elevatorType)AS valueName
		,(SELECT d.valueName FROM dictionary d WHERE d.typeCode='usingState' AND d.valueId=e.usingState)AS valueName1
		 FROM USER u,elevatorinfo e WHERE 
		e.maintenancePersonId=u.id AND u.userRole=#{userRole} and u.id=#{id} 
		</if>
		
		
		<!-- 模糊查询的8个条件参数+2个分页参数 =10参数-->
		
		<if test="buildingId != null">
			and e.buildingId = #{buildingId}
		</if>
		<if test="Company_YId != null">
			and Company_YId = #{Company_YId}
		</if>
		<if test="maintenanceId != null">
			and maintenanceId = #{maintenanceId}
		</if>
		<if test="elevatorType != null">
			and elevatorType = #{elevatorType}
		</if>
		<if test="elevatorCode != null and elevatorCode != ''">
			and elevatorCode like CONCAT ('%',#{elevatorCode},'%')
		</if>
		<if test="registrationCode != null and registrationCode!= ''">
			and registrationCode like CONCAT
			('%',#{registrationCode},'%')
		</if>
		<if test="registrationStatus != null">
			and registrationStatus = #{registrationStatus}
		</if>
		<if test="usingState != null">
			and usingState = #{usingState}
		</if>

		ORDER BY e.id ASC LIMIT #{from},#{pageSize}
		
	</select>
	
	 
	 
	<select id="getCountBy" resultType="Integer" >
		<!-- 0 质监局-->
		<if test="userRole==0">
		SELECT COUNT(1) FROM (SELECT  u.id,e.id AS e_id
		
		 FROM USER u,elevatorinfo e WHERE userRole=#{userRole} AND u.id=#{id}
		 
		 
		
		</if>
		
		
		<!-- 1 楼盘用户 -->
		<if test="userRole==1">
		SELECT COUNT(1) FROM (SELECT  u.id,e.id AS e_id
		
		FROM USER u,elevatorinfo e WHERE 
		u.companyId=e.buildingId AND u.userRole=#{userRole} AND u.id=#{id}
		</if>
		
		
		
		<!-- 2 物业管理员 -->
		<if test="userRole==2">
		SELECT COUNT(1) FROM (SELECT  u.id,e.id AS e_id
		FROM USER u,elevatorinfo e WHERE 
		e.buildingId IN (SELECT company_Jid FROM contract WHERE contractType=2 AND company_Yid=u.companyId) AND userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		
		<!-- 3 物业普通员工 -->
		<if test="userRole==3">
		SELECT COUNT(1) FROM (SELECT  u.id,e.id AS e_id
		 FROM USER u,elevatorinfo e WHERE 
		e.buildingId=u.buildingId AND u.userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		<!-- 4 维保管理员 -->
		<if test="userRole==4">
	SELECT COUNT(1) FROM (SELECT  u.id,e.id AS e_id 
		FROM USER u,elevatorinfo e WHERE 
		 u.companyId=e.maintenanceId AND u.userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		<!-- 5 维保普通员工 -->
		<if test="userRole==5">
	SELECT COUNT(1) FROM (SELECT  u.id,e.id AS e_id
		FROM USER u,elevatorinfo e WHERE 
		e.maintenancePersonId=u.id AND u.userRole=#{userRole} and u.id=#{id}
		</if>
		
		
		<!-- 模糊查询的8个条件参数+2个分页参数 =10参数-->
		
		<if test="buildingId != null">
			and e.buildingId = #{buildingId}
		</if>
		<if test="Company_YId != null">
			and Company_YId = #{Company_YId}
		</if>
		<if test="maintenanceId != null">
			and maintenanceId = #{maintenanceId}
		</if>
		<if test="elevatorType != null">
			and elevatorType = #{elevatorType}
		</if>
		<if test="elevatorCode != null and elevatorCode != ''">
			and elevatorCode like CONCAT ('%',#{elevatorCode},'%')
		</if>
		<if test="registrationCode != null and registrationCode!= ''">
			and registrationCode like CONCAT
			('%',#{registrationCode},'%')
		</if>
		<if test="registrationStatus != null">
			and registrationStatus = #{registrationStatus}
		</if>
		<if test="usingState != null">
			and usingState = #{usingState}
		</if>
			) AS a
	</select> 
	 
	 
	
	
	
	
	

</mapper>