<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.elevator.dao.user.UserMapper">
<!-- 根据用户返回整个用户对象 -->
	<select id="login" resultType="User">
		select  u.id,u.userRole,u.companyId,u.deleted,u.realName,u.tel,u.userName,u.wenXin,
		u.password,u.buildingID,u.elevatorID,u.creater,u.createDate,u.updater,u.updatDate, 
		(select d.valueName  from dictionary d where d.typeCode="user_role" and d.valueId=u.userRole) as userRoleName
		from user u where userName = #{userName}
	</select>
	
	
	
	
	 <!-- 根据用户角色返回该用户对应的楼盘列表 -->
	<!-- <select id="get"></select>
	
	
	
	<resultMap type="Building" id="getBuildingList">
		<id property="id" coloumn=""/>
		<result property="user"/>
	</resultMap> --> 
	
	
	<!-- <select id="queryList" resultType="cn.elevator.entity.UserEntity">
		select * from user 
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from user 
	</select>
	 
	<insert id="save" parameterType="cn.elevator.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
		insert into user
		(
			`role`, 
			`companyId`, 
			`deleted`, 
			`name`, 
			`tel`, 
			`yhname`, 
			`wenXin`, 
			`password`, 
			`buildingId`, 
			`guarantor`, 
			`creater`, 
			`createDate`, 
			`updater`, 
			`updatDate`
		)
		values
		(
			#{role}, 
			#{companyid}, 
			#{deleted}, 
			#{name}, 
			#{tel}, 
			#{yhname}, 
			#{wenxin}, 
			#{password}, 
			#{buildingid}, 
			#{guarantor}, 
			#{creater}, 
			#{createdate}, 
			#{updater}, 
			#{updatdate}
		)
	</insert>
	 
	<update id="update" parameterType="cn.elevator.entity.UserEntity">
		update user 
		<set>
			<if test="role != null">`role` = #{role}, </if>
			<if test="companyid != null">`companyId` = #{companyid}, </if>
			<if test="deleted != null">`deleted` = #{deleted}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="yhname != null">`yhname` = #{yhname}, </if>
			<if test="wenxin != null">`wenXin` = #{wenxin}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="buildingid != null">`buildingId` = #{buildingid}, </if>
			<if test="guarantor != null">`guarantor` = #{guarantor}, </if>
			<if test="creater != null">`creater` = #{creater}, </if>
			<if test="createdate != null">`createDate` = #{createdate}, </if>
			<if test="updater != null">`updater` = #{updater}, </if>
			<if test="updatdate != null">`updatDate` = #{updatdate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from user where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete> -->

</mapper>